alembic==1.18.1
aniso8601==10.0.1
blinker==1.9.0
click==8.3.1
Flask==3.1.2
flask-cors==6.0.2
flask-marshmallow==1.3.0
Flask-Migrate==4.1.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
greenlet==3.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.10
MarkupSafe==3.0.3
marshmallow==4.2.0
marshmallow-sqlalchemy==1.4.2
PyMySQL==1.1.2
pytz==2025.2
six==1.17.0
SQLAlchemy==2.0.45
typing_extensions==4.15.0
Werkzeug==3.1.5
